.wrapper {
  padding: 10px;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border: 1px solid black;
  h4 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  p{
    flex: 1 1 auto;
  }
}

.options {
  margin-bottom: 15px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  li {
    margin-left: 50px;
    list-style: disc;
  }
}

@media screen and (max-width: 767px){
  .wrapper {
    flex: 1 1 40%;
  }
}

@media screen and (max-width: 425px){
  .wrapper {
    flex: 1 0 100%;
  }
}
